doctype
html(lang="en")
  head
    meta(charset='utf8')
    title #{ title }
    
    meta(name="description" content="#{ description }")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:type" content="website")
    meta(property="og:title" content="#{ title }")
    meta(property="og:image" content="images/logo-square.png")
    meta(property="og:description" content="#{ description }")

    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")

    link(rel="stylesheet" href="css/main.css")
  body
    != partial("_shared/navbar")
    if current.source === 'index'
      section.bloc-header.bloc-home-header
    section.bloc(class=(current.source === 'index' ? "bloc-muted" : ""))
      div.container
        div.row.justify-content-md-center
          div.col-lg-7
            != yield
    != partial("_shared/footer")
