doctype
html
  head
    meta(charset='utf8')
    title #{ title }
    
    meta(name="description" content="#{ description }")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="stylesheet" href="css/main.css")
  body
    != partial("_shared/navbar")
    if current.source === 'index'
      section.bloc-header.bloc-home-header
    section.bloc(class=(current.source === 'index' ? "bloc-muted" : ""))
      div.container
        div.row.justify-content-md-center
          div.col-lg-6
            != yield
    != partial("_shared/footer")
