footer.site-footer
  div.container
    ul.nav.justify-content-center
      li.nav-item
        a(class='nav-link' href='mailto:#{ mail }') Contact us
      li.nav-item 
        a(class='nav-link' href='terms-conditions') Terms & Conditions
      li.nav-item 
        a(class='nav-link' href='privacy-policy') Privacy Policy
    div.mt-4.text-center
      a(class='navbar-brand' href='/')
        img(src='images/logo-square.png' width='100')
    div.mt-4.text-center
      small.text-muted © Copyright 2017 KURO Global Mobility - All Rights Reserved