nav.navbar.navbar-toggleable-md.navbar-light
  button(class='navbar-toggler navbar-toggler-right' onclick='openNav()')
    span.navbar-toggler-icon
  a(class='navbar-brand' href='/')
    img(src='images/logo.png' width='220')
  div#overlayNav.navbar-collapse
    a(class='closeNav' href='javascript:void(0)' onclick='closeNav()') &times;
    span.navbar-text.mx-auto #{ mail } #[span #{ phone }]
    a(class='btn btn-primary' href='mailto:#{ mail }') Contact us »


script.
  function openNav(){
    document.getElementById("overlayNav").style.height = "100%";
  }

  function closeNav() {
    document.getElementById("overlayNav").style.height = "0%";
  }