nav.navbar.navbar-toggleable-md.navbar-light
  button.navbar-toggler.navbar-toggler-right
    span.navbar-toggler-icon
  a(class='navbar-brand' href='/')
    img(src='images/logo.png' width='220')
  div.collapse.navbar-collapse
    span.navbar-text.m-auto #{ mail } - 24/7 Hotline: #{ phone }
    a(class='btn btn-primary' href='mailto:#{ mail }') Contact us »