nav.navbar.navbar-toggleable-md.navbar-light
  button.navbar-toggler.navbar-toggler-right
    span.navbar-toggler-icon
  a(class='navbar-brand' href='/')
    img(src='images/logo.png')
  div.collapse.navbar-collapse
    span.navbar-text.m-auto
      Navbar text with an inline element
    a(class='btn btn-primary' href='/') Contact us